svg {
    border-color: black;
    border-width: 7px;
}

    svg text {
        font-family: Arial;
        font-size: 80px;
        stroke-width: 8px;
    }

#express {
    font-size: 55px;
    stroke-width: 0;
    fill: #FDFDFC;
}

#first-half-leaf {
    fill: #5EB14A;
}

#second-half-leaf {
    fill: #449644;
}

#first-circle {
    fill: #3E3F37;
}

#second-circle {
    fill: #282827;
}

#third-circle {
    fill: #E23337;
}

#first-half-contour {
    stroke-width: 5px;
    stroke: #B3B3B3;
    fill: none;
}

#shadow-half-red {
    fill: #B63032;
}

#first-half-logo {
    stroke-width: 10px;
    stroke: #F1F0F0;
}

#second-half-logo{
    stroke-width: 10px;
    stroke: #B3B3B3;
}

#fourth-circle{
    fill: #8EC74E;
}

#M {
    fill: #3E3F37;
    stroke: #3E3F37;
}

#E {
    fill: #231F20;
    stroke: #231F20;
}

#A {
    fill: #E23337;
    stroke: #E23337;
}

#N {
    fill: #8EC74E;
    stroke: #8EC74E;
}
